<%- include('partials/_header.ejs') %>

  <div id="app">
      <h3>Gráfico</h3>
      <chart style="width: 30%; margin-left: 450px;"></chart>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <script>
    let url = 'apigrafico'
    Vue.component('chart', {
      extends: VueChartJs.Pie,
      data() {
        return {
          id: [],
          venta_total: [],
          bgColors: ['#f696af', '#aa77c3', '#5d58d7', '#6165c2', '#6571ac', '#FF9AA2', '#FFB7B2', '#FFDAC1', '#E2F0CB', '#B5EAD7']
        }
      },
      mounted() {
        this.mostrar()
        this.renderChart({

          labels: this.id,
          datasets: [
            {
              label: 'GRAFICOS',
              backgroundColor: this.bgColors,
              data: this.venta_total,
            }
          ]
        }, { resposive: true, maintainAspectRadio: false })
      },
      methods: {
        mostrar() {
          axios
            .get(url)
            .then(response => {
              response.data.forEach(Element => {
                this.id.push(Element.id)
                this.venta_total.push(Element.venta_total)
              })
            })
        }
      }

    })

    new Vue({
      el: '#app',

    })
  </script>



  <%- include('partials/_footer.ejs') %>