<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- CSS -->
    <link rel="stylesheet" href="/resources/css/index.css">

    <title>Inversiones Verona</title>
</head>

<body>
    <!-- Navegación -->
    <section class="header sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <span>
                        <img src="/resources/img/logo.png" alt="Inversiones Verona" width="25%" height="auto">
                    </span>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#somos">Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#categorias">Categorías</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ubicacion">Ubicación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">GestorApp</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!-- Banner -->

    <section class="bg-hero" id="inicio">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="banner_content">
                        <h4>¡Bienvenidos a Verona!</h4> <br>
                        <h2>Almacén de Belleza</h2> <br>
                        <p>Especializados en la venta de productos de belleza, <br>
                            Ubicados en el parque principal de Itagüí - Antioquía
                        </p> <br>
                        <button type="button" class="main-btn mb-3"><a href="https://wa.me/3008404566"
                                target="_blank"></a>WhatsApp</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Somos -->

    <Section class="somos" id="somos">
        <div class="container">

                <div class="section-head col-sm-12">
                    <h1>Somos</h1>

            </div>
            <div class="row">
                <div class="somos_img col-sm-8">
                    <img class="img-fluid justify-content-center" src="/resources/img/pintaunas.png" alt="">
                </div>
                <div class="somos_content col-sm-4">
                    <p>
                        Tienda de belleza ubicada en el parque principal de Itagüí, contamos con gran variedad
                        de productos para el cuidado personal, cósmeticos, uñas, tintes y mucho más.
                    </p>
                </div>
            </div>
    </Section>

    <!-- Categorías -->

    <section class="categorias" id="categorias">

        <div class="container">
            <div class="row">
                <div class="section-head col-sm-12">
                    <h1>Categorías</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Maquillaje -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-maquillaje.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Maquillaje</h5>
                        <p class="py-2">
                            Venta de todo tipo de productos cósmeticos, contamos con gran variedad de bases, polvos
                            compactos, pestañinas, iluminadores, correctores, eyeliners, paletas de sombra y mucho más.
                        </p>
                    </div>
                </div>

                <!-- Facial -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-facial.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Facial</h5>
                        <p class="py-2">
                            Cremas humectantes y aclarantes, máscarillas, exfoliantes faciales, y más.
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

                <!-- Corporal -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-corporal.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Corporal</h5>
                        <p class="py-2">
                            Jabones liquidos, exfoliantes corporales, cremas para el cuerpo, sales de baño y más.
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>


                <!-- Barbería -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-barberia.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Barbería</h5>
                        <p class="py-2">
                            Todo para el cuidado masculino, ceras moldeadoras y fijadoras, lociones, espumas de
                            afeitado,
                            máscarillas, geles, cremas faciales, corporales y capilares, jabones y productos de aseo en
                            general.
                        </p>
                    </div>
                </div>

                <!-- Uñas -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-unas.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Uñas</h5>
                        <p class="py-2">
                            Encontrarás esmaltes de uñas, brillos, removedores, productos para uñas acrílicas y
                            fortalecedores de
                            uñas.
                        </p>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>


                <!-- Capilar -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-capilar.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Capilar</h5>
                        <p class="py-2">
                            Para el cuidado capilar contamos con gran variedad de shampoos y acondicionadores, también
                            cremas de
                            peinar, termoprotectores capilares, aceites, tinturas capilares, repolarizadores, y
                            tratamientos.
                        </p>
                    </div>
                </div>

                <!-- Eléctricos -->
                <div class="categoria-box col-lg-3 col-sm-6 ">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-electricos.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Eléctricos</h5>
                        <p class="py-2">
                            Secadores, planchas de cabello, máquinas de afeitar y mucho más relacionado al sector de
                            belleza.
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

                <!-- Accesorios -->
                <div class="categoria-box col-lg-3 col-sm-6">
                    <div class="categoria_item">
                        <figure>
                            <img class="img-fluid" src="resources/img/categoria-accesorios.jpg"
                                alt="venta de maquillaje en itagui" />
                        </figure>
                        <h5 class="pt-2">Accesorios</h5>
                        <p class="py-2">
                            Contamos con accesorios que podrías necesitar como: limas, tijeras, brochas, cepillos,
                            cortauñas, pinzas,
                            peines, gorros térmicos y de baño, ganchos de cabello, y muchos más.
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- Ubicación -->
    <section class="ubicacion" id="ubicacion">
        <div class="container">

            <div class="section-head col-sm-12">
                <h1>Ubicación</h1>
            </div>

        </div>
        <div class="ubicacion_content container">
            <div class="row">
                <div class="ubicacion_frame col-6 text-center">
                    <img src="/resources/img/delivery.png" alt="" width="400" height="400">
                    <h3>Domicilios en Itagüi, Local en el parque principal primer piso.</h3>
                </div>
                <div class=" col-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.688263451235!2d-75.61240658474928!3d6.172476628855651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46822e0eb51cf1%3A0xec3c16c29aed024!2sVerona!5e0!3m2!1ses!2sco!4v1619393378009!5m2!1ses!2sco"
                        width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacto -->
    <section class="contacto" id="contacto">
        <div class="container">
            <div class="column">
                <div class="section-head col-sm-12">
                    <h1>Contacto</h1>
                </div>
            </div>

            <div class="body_icon">
                <div class="icon" element="1"><a href="http://" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="icon" element="2"><a href="http://" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="icon" element="3"><a href="http://" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
                <div class="icon" element="4"><a href="http://" target="_blank"><i class="fas fa-envelope"></i></a>
                </div>
                <div class="icon" element="5"><a href="http://" target="_blank"><i class="fas fa-phone-alt"></i></a>
                </div>
            </div>

        </div>

    </section>

    <footer class="bg-light text-center text-lg-start" >

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #e9bac0;">
          © 2021 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">Inversiones Verona</a>
        </div>
        <!-- Copyright -->
      </footer>   





    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

</body>

</html>