<%- include('partials/_header.ejs') %>

    <div class="container text-center mt-5">
        <h1>Creadores</h1>
    </div>

    <div class="container">
        <div class="m-0 row justify-content-center">
            <div class="col-sm-3 p-4">
                <div class="card" style="width: 19.5rem;">
                    <img class="card-img-top" src="/resources/img/developerMan.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kevin Lozano</h5>
                        <p class="card-text">Programador de Software <br></p><br>
                        <a href="https://co.linkedin.com/" class="btn btn-primary">Ver Linkedin</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 p-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/resources/img/developerWoman.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Karina Vargas</h5>
                        <p class="card-text">Programadora de Software</p>
                        <a href="https://www.linkedin.com/in/kkvr" class="btn btn-primary">Ver Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Información del Proyecto
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <strong>Este es un Proyecto de carácter Académico.</strong> <br> Desarrollado como proyecto final de la formación técnica en programación de software del Sena en convenio con la Institución Universitaria Salazar y Herrera, 2021.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Créditos Imágenes
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  Los derechos de uso y ejecución están sujetos a Licencia Creative Commons, o derechos reservados de autor según sea el caso consulte: <a href="co.creativecommons.org">co.creativecommons.org</a> <br>
                  Apartado para el reconocimiento creativo de las imágenes utilizadas en este proyecto. <br> Cabe resaltar que estas son de libres de derechos de autor.
                  <br>Dentro de las plataformas utilizadas para la utilización de estas imágenes están: <br>
                  <ul>
                      <li><a href="https://www.pexels.com/es-es/" target="_blank">Pexels</a></li>
                      <li><a href="https://www.freepik.es/fotos-vectores-gratis/iconos" target="_blank">Freepik</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Más Información
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  En esta aplicación se utilizó:
                  <ul>
                      <li>Bootstrap</li>
                      <li>Bootstrap Icons</li>
                      <li>Tema BootSwatch: Sandstone</li>                      
                      <li>Node JS</li>
                      <li>MySQL</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
    </div>


<%- include('partials/_footer.ejs') %>